* {
    font-family: Iosevka SS14 Medium, Iosevka Nerd Font, Noto Sans CJK JP, Noto, sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: #282A36 ;
    border-radius: 0px ;
    border-top: 2px solid #1E1F28;
    transition-property: background-color;
    transition-duration: .5s;
    color: #D3D7CF;
}

/* BUTTON */
button {
    box-shadow: inset 0 3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 3px #D3D7CFL;
}

/* WORKSPACE */
#workspaces button {
    padding: 0 5px;
    background-color: #282A36;
    border-top: transparent;
    box-shadow: inset 0 2px #1E1F28 ;
    color: #D3D7CF;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: #725E97;
    background-color: #21222C;
    box-shadow: inset 0 3px #725E97;
}

#workspaces button.urgent {
    color: #eb4d4b;
    box-shadow: inset 0 3px #eb4d4b;
}

#cpu,
#clock,
#temperature,
#battery,
#memory,
#pulseaudio,
#custom-media, 
#idle_inhibitor {
    padding: 0px 6px;
    margin: 2px 2px 0px 2px;
    border-bottom: 3px solid #282A36;
    border-top: 3px solid #282A36;
    color: #D3D7CF;
    background-color: #21222C;
}

#idle_inhibitor {
    padding: 0px 10px;
}

#idle_inhibitor.activated {
    color: #725E97;
    box-shadow: inset 0 3px #725E97;
}

#temperature {
    padding: 0px 0px;
}

#temperature.critical,
#battery.critical {
    color: #eb4d4b
}

#battery.charging {
    color: #73d216;
}

#clock {
    color: #21222C;
    background: #725E97;
}

#clock.date {
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    border-bottom: 3px solid #282A36;
    border-top: 3px solid #282A36;
    border-right: 3px solid #FF0000;
    color: #21222C;
    background: #845FB6;
}

#clock.time {
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    border-bottom: 3px solid #282A36;
    border-top: 3px solid #282A36;
    border-left: 3px solid #FF0000;
    color: #21222C;
    background: #BD93F9;
}

#tray {
    padding: 0px 6px 0px 0px;
}
